@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rolleston Display';
    src: url('/fonts/RollestonDisplay-Medium.otf') format('opentype');
    font-weight: 500; /* Adjust as needed */
    font-style: normal;
  }

  @font-face {
    font-family: 'Rolleston Text';
    src: url('/fonts/RollestonText-Medium.otf') format('opentype');
    font-weight: 500; /* Adjust as needed */
    font-style: normal;
  }

  @font-face {
    font-family: 'Rolleston Text';
    src: url('/fonts/RollestonText-MediumItalic.otf') format('opentype');
    font-weight: 500; /* Adjust as needed */
    font-style: italic;
  }

  @font-face {
    font-family: 'Rolleston Text';
    src: url('/fonts/RollestonText-SemiBold.otf') format('opentype');
    font-weight: 600; /* Adjust as needed */
    font-style: normal;
  }

  @font-face {
    font-family: 'Rolleston Text';
    src: url('/fonts/RollestonText-SemiBoldItalic.otf') format('opentype');
    font-weight: 600; /* Adjust as needed */
    font-style: italic;
  }

  @font-face {
    font-family: 'UNIQAGalano';
    src: url('/fonts/UNIQAGalano-Regular.otf') format('opentype');
    font-weight: 400; /* Adjust as needed */
    font-style: normal;
  }

  @font-face {
    font-family: 'UNIQAGalano';
    src: url('/fonts/UNIQAGalano-RegularItalic.otf') format('opentype');
    font-weight: 400; /* Adjust as needed */
    font-style: italic;
  }

  @font-face {
    font-family: 'UNIQAGalano';
    src: url('/fonts/UNIQAGalano-SemiBold.otf') format('opentype');
    font-weight: 600; /* Adjust as needed */
    font-style: normal;
  }

  @font-face {
    font-family: 'UNIQAGalano';
    src: url('/fonts/UNIQAGalano-SemiBoldItalic.otf') format('opentype');
    font-weight: 600; /* Adjust as needed */
    font-style: italic;
  }

  @keyframes move-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes move-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  ::view-transition-old(root) {
    animation: 0.3s cubic-bezier(0.37, 0, 0.63, 1) both move-out;
  }

  ::view-transition-new(root) {
    animation: 0.3s cubic-bezier(0.37, 0, 0.63, 1) both move-in;
  }
}

html,
body {
  @apply font-sans;
}
